In [7]:
import pandas as pd
from sklearn import tree

In [4]:
df = pd.read_excel('dados_frutas.xlsx')

In [8]:
df.head()

   Arredondada  Suculenta  Vermelha  Doce    Fruta
0            0          1         1     1  Morango
1            1          0         0     0    Limão
2            1          1         0     1     Pera
3            0          0         0     1   Banana
4            1          1         1     1   Cereja

In [10]:
arvore = tree.DecisionTreeClassifier()

In [ ]:
y = df['Fruta']